.App {
  text-align: center;
}

.todo-title {
  text-align: center;
  margin-top: 0.5em;
}

.site-card-wrapper {
  display: flex;
  justify-content: center;
}

.card-wrap-row {
  width: 80%;
  padding-bottom: 15px;
}

.txt-center {
  text-align: center;
}