.App {
  text-align: center;
}

.todo-title {
  text-align: center;
  padding: 1.5em 0 1em 0;
}

.site-card-wrapper {
  display: flex;
  justify-content: center;
}

.card-wrap-row {
  width: 80%;
  padding-bottom: 1em;
}

.txt-center {
  text-align: center;
}
